@font-face {
  font-family: 'Kotta One';
  font-style: normal;
  font-weight: 400;
  src: local('Kotta One'), local('KottaOne-Regular'), url(http://themes.googleusercontent.com/static/fonts/kottaone/v1/T11KR5KX3fgZhBmu7MWXKj8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
