#slides {
	margin: 0 auto; 
	width: 940px; 
	position:relative; 
	height:536px;
	background: url(../images/border-3.gif) repeat-x 0 bottom #2d2d2d;
}
.slides_container {
	height:532px;
	width:940px;
}
.slides_container div.slide {
	width:940px;
	height: auto; 
	display:block;
}
.slides_container div.slide img { 
	max-width:100%; 
	height: auto;
}

.slider-separator {
	display:block;
	position:absolute;
	background:url(../images/slider-separator.gif) no-repeat 0 0;
	bottom:4px;
	right:138px;
	height:75px;
	width:2px;
}

/* Control Nav */
.caption{ 
	font-family: 'Kotta One', serif;
	font-size:24px;
	line-height:29px;
	color:#FFF;
	position:absolute; 
	left:31px; 
	bottom:-60px;
	height:35px; 
	width:700px; 
}

.caption span {margin-right:20px;}

.next,.prev{ 
	display:block; 
	width:9px; 
	height:14px; 
	position:absolute; 
	bottom:33px; 
	line-height:0; 
	font-size:0; 
	z-index:99;
}
.next { 
	background:url(../images/control-buttons.png) no-repeat -31px 0;
	right:50px;
}
.prev {
	background:url(../images/control-buttons.png) no-repeat 0 0;
	right:81px;
}

.next:hover {background-position: -31px -15px;}
.prev:hover {background-position: 0px -15px;}

@media only screen and (min-width: 768px) and (max-width: 995px) {
	.slides_container div.slide, #slides,.slides_container {width: 748px !important;height:443px;}
	.caption{font-size:20px;bottom:22px;}
}

@media only screen and (max-width: 767px) {	
	.slides_container div.slide, #slides,.slides_container {width: 300px;height:176px;}
	.caption, .slider-separator {display:none;}
	#slides {background:none;}
	.next,.prev{bottom:10px;}
	.next{right:10px;}
	.prev{right:26px;}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	.slides_container div.slide, #slides,.slides_container {width: 420px;height:235px;}

}